.btn-product {
  margin-left: 10px;
  display: flex;
  font-size: 12px;
  justify-content: center;
  padding: 10px;
  width: 150px;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  margin-left: 72px;
}

.card:hover {
  transform: scale(1.05);
}
